.footer__container {
    opacity: 0.35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 34px;

    & .header__mobile path {
        fill: #61666B;
    }
}


/*МЕДИА****************************************************
**********************************************************/

@media (max-width: 991.98px) {
    .footer__container {
        padding: 10px;
    }
}

@media (max-width: 575.98px) {
    .footer__container {
        & .header__logo {
            width: 50%;
        }

        & .header__mobile {
            display: block;
            align-self: start;
        }
    }
}