.header {
    z-index: 100;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(18, 25, 32, 0.95) 0%, rgba(18, 25, 32, 0) 100%);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0 77px;
}

.header__logo svg path {
    transition: all .4s linear;
}

.header__logo:hover svg path {
    fill: rgba(255, 255, 255, 0.6);
}

.header__mobile {
    color: #ffffff;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    position: relative;
    transition: all .4s linear;

    & svg {
        position: absolute;
        left: -24px;
        top: 3px;

        & path {
            transition: all .4s linear;
        }
    }
}

.header__mobile:hover {
    color: rgba(255, 255, 255, .8);

    & svg path {
        fill: rgba(255, 255, 255, .8);
    }
}

.burger {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 3;
    right: 0;
}

.header__nav {
    display: none;
}

.header__nav__link {
    list-style-type: none;

    & a {
        color: #ffffff;
        font-weight: 300;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
    }
}

/*МЕДИА****************************************************
**********************************************************/

@media (max-width: 991.98px) {
    .header {
        position: fixed;
        background-color: #121920;
        border-bottom: 1px solid #ffffff;
    }

    .header__container {
        padding: 10px;
    }

    .burger {
        display: inline-block;
        padding-top: 20px;
        margin-left: 20px;
        width: 38px;
        height: 100%;
        transform: translateY(0%);
    }

    .header__nav {
        transform: translateX(100%);
        transition: all .5s linear;
        display: inline;
        position: absolute;
        margin-top: 60px;
        text-align: center;
        right: 0;
        top: 0;
        padding: 0px 20px;
        background-color: #121920;
        border-radius: 10px 0 0 10px;
        border: 1px solid #ffffff;

        & ul {
            padding: 0;
        }
    }

    .menu-open .header__nav {
        transform: translateX(0%);
    }

    .burger span {
        width: 100%;
        height: 2px;
        top: 0;
        right: 0;
        background-color: #ffffff;
        position: absolute;
        color: transparent;

        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            left: 0;
            background-color: #ffffff;
            position: absolute;
            transition: transform .3s linear;
        }

        &::before {
            top: 24px;
        }

        &::after {
            top: 12px;
        }
    }

    .menu-open .burger span {
        background-color: transparent;

        &::before {
            transform: rotate(45deg);
            top: 12px;
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

@media (max-width: 767.98px) {
    .header__logo img {
        max-width: 65%;
    }

    .header__mobile {
        font-size: 18px;
    }
}

@media (max-width: 575.98px) {
    .header__mobile {
        display: none;
    }
}