.how__container {
    padding-bottom: 96px;
}

.how__title {
    font-weight: 300;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 60px;
}

/*КАК СТАТЬ КЛИЕНТОМ - ШАГИ*************************************/

.how__steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.how__steps__block__number {
    font-weight: 900;
    font-size: 100px;
    line-height: 120px;
    color: #232A32;
    position: relative;
    margin-bottom: 75px;
    width: 100%;
    transition: all 1s ease-in-out;
}

.how__steps__block__number::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 2px;
    left: 0;
    bottom: -10px;
    background-color: #F8BE4D;
}

.how__steps__block__info {
    display: flex;
}

.how__steps__block__text {
    margin-left: 26px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 75px;
    transition: all 1s ease-in-out;
}

.how__steps__block svg path {
    transition: all 1s ease-in-out;
}

.how__steps__block:hover .how__steps__block__number,
.how__steps__block:hover .how__steps__block__text,
.how__steps__block:hover svg path {
    color: rgb(245, 172, 26);
    fill: rgba(248, 190, 77, .8);
}

.how__promotion {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

/*КАК СТАТЬ КЛИЕНТОМ - БАННЕР*************************************/

.how__promotion__banner__img {
    min-width: 330px;
}

.how__promotion__banner__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #88939E;
    margin-top: 55px;
}

.how__promotion__banner__text b {
    color: #ffffff;
}

/*КАК СТАТЬ КЛИЕНТОМ - ФОРМА*************************************/
.how__promotion__info {
    max-width: 420px;
}

.how__promotion__title {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 8px;
}

.how__promotion__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #88939E;
    position: relative;
    margin-left: 20px;
    margin-bottom: 40px;
}

.how__promotion__text::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 44px;
    left: -20px;
    top: 10px;
    background-color: #F8BE4D;
}


.how__promotion__form {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    padding-top: 36px;
    max-width: 330px;
}

/*МЕДИА****************************************************
**********************************************************/

@media (max-width: 1080px) {
    .how__steps {
        gap: 20px;
    }
}

@media (max-width: 991.98px) {
    .how__promotion__info {
        max-width: 420px;
    }

    .how__steps {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .how__steps__block {
        width: 330px;
    }

    .how__steps__block__text {
        margin-bottom: 0;
    }

    .how__steps__block__text:last-child {
        margin-bottom: 20px;
    }

    .how__steps__block:first-child {
        align-self: start;
    }

    .how__steps__block:last-child {
        align-self: end;
        margin-bottom: 20px;
    }
}

@media (max-width: 767.98px) {
    .how__promotion__banner {
        text-align: center;
    }

    .how__promotion__banner__text {
        align-self: flex-start;
    }

    .how__promotion {
        display: block;
    }

    .how__promotion__banner__text {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .how__promotion__info {
        max-width: 100%;
    }

    .how__promotion__form {
        max-width: 100%;
    }

}