.support__title {
    text-align: center;
    font-weight: 300;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 68px;
}

.support__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    color: #1B242D;
    margin-bottom: 142px;
}

.support__column {
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
    transition: all .3s linear;
    min-width: 240px;
}

.support__column:hover {
    transform: scale(1.02);
}

.support__column__image {
    height: 208px;
    object-fit: cover;
    object-position: top;
}

.support__column__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 185px;
    padding: 0 10px 27px;
    background-color: #ffffff;
    top: 208px;
    left: 0;
    border-radius: 5px;
}

.support__column__info__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 15px;
}

.support__column__info__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #88939E;
    margin: 12px 20px 20px 24px;
    margin-bottom: 20px;
}

.support__column__info__mobile {
    margin-top: auto;
    color: #121920;
    text-decoration: none;
}

.support__column__info__email {
    margin-top: 15px;
    color: #121920;
    text-decoration: none;
}

.support__column__info__mobile,
.support__column__info__email {
    margin-left: 40px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    text-align: start;
    margin-top: a;
}

.support__column__info__mobile::before,
.support__column__info__email::before {
    content: "";
    position: absolute;
    background-image: url(/public/images/support/support__phone.svg);
    background-repeat: no-repeat;
    left: -28px;
    width: 100%;
    height: 100%;
}

.support__column__info__email::before {
    background-image: url(/public/images/support/support__email.svg);
}


/*МЕДИА****************************************************
**********************************************************/

@media (max-width: 1080px) {
    .support__grid{
        gap: 20px;
    }
}

@media (max-width: 991.98px) {
    .support__grid {
        justify-content: center;
        grid-template-columns: 240px 240px;
        margin-bottom: 50px;
    }
}

@media (max-width: 575.98px) {
    .support__grid {
        grid-template-columns: 240px;
    }
    .support__column__info {
        min-height: 165px;
    }

    .support__column__info__text {
        margin: 0;
    }
}